{% include 'base.html' %}
<meta id="username-data" data-name="{{ current_user.username }}">
<meta id="room-data" data-name="{{ room }}">
{% block content %}
{% from 'bootstrap5/form.html' import render_form %}
<section style="background-color: #eee;">
    <div class="container ">

        <div class="row pt-5">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <h5 class="font-weight-bold mb-3 text-center text-lg-start">Member</h5>

                <div class="card">
                    <div class="card-body">

                        <ul class="list-unstyled mb-0" id="room-list">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">

                <ul class="list-unstyled d-flex flex-column-reverse overflow-auto" id="current-chat" style="height: 30rem;">
                    {% for message in messages[::-1]: %}
                    {% if not message.user.username == current_user.username: %}
                    <li class="d-flex justify-content-start mb-4">
                        <img src="{{ message.user.username|gravatar }}" alt="avatar"
                             class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
                        <div class="card w-100">
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">{{ message.user.username }}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                            </div>
                            <div class="card-body">
                                <p class="mb-0">
                                    {{ message.text }}
                                </p>
                            </div>
                        </div>
                    </li>
                    {% else: %}
                    <li class="d-flex justify-content-end mb-4">
                        <div class="card w-100">
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">{{ message.user.username }}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i> 13 mins ago</p>
                            </div>
                            <div class="card-body">
                                <p class="mb-0">
                                    {{ message.text }}
                                </p>
                            </div>
                        </div>
                        <img src="{{ message.user.username|gravatar }}" alt="avatar"
                             class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="form-inline px-4 pb-4">
                    {{ form.csrf_token }}
                    {{ render_form(form) }}
                </div>
            </div>
        </div>

    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script type="text/javascript">
    let socket = io.connect('http://127.0.0.1:5000/');
    let username = $('#username-data').data();
    let room = $('#room-data').data();
    $('form').on('submit', function(e){
        socket.emit('message',
            data = {'message': $('.form-control').val(),
                    'username': username,
                    'room': room});
        e.preventDefault();
    });
    socket.on('refresh_rooms', function(response){
        $('#room-list').prepend(response['site_data']);
        $('.btn-change-room').each(function(i, obj){
            $(obj).on('click', function(e){
                console.log($(obj).attr('name'))
                socket.emit('change_room',
                    data = {'room': $(obj).attr('name')});
                e.preventDefault();
            });
        });

    });
    socket.on('message', function(response){
        let html_content = response['data'].split('<hr>');
        let message_content = '';
        if(username.name === response['username_of_sender'].name){
            message_content = html_content[1]
        }
        else{
            message_content = html_content[0]
        }
        $('#current-chat').prepend(message_content);
        $('.form-control').val('');
    });
    socket.on('fetch_messages', function(response){
        let html_content = response['data'];
        $('#current-chat').replaceWith(html_content);
        $('.form-control').val('');
    })
</script>
<script type="text/javascript">

</script>
{% endblock %}
